.DS_Store
participants.json
styled_elements_report.txt
test_cases/
venv_olimp/
__pycach__
backend/static
backend/app/static
 backend/__pycache__/*
script.py
.env
__pycache__/
**/__pycache__/
*.pyc
*.pyo
create_admin_user.py
create_admin_user.sql