alembic
asgiref
babel
beautifulsoup4
blinker
bs4
charset-normalizer
click
dnspython
dominate
email_validator
et_xmlfile
Flask
flask-babel
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
openpyxl
pillow
psycopg2-binary
python-dotenv
pytz
reportlab
soupsieve
SQLAlchemy
typing_extensions
visitor
Werkzeug
WTForms
